body {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background: url('../assets/img/grid.jpg');
    background-repeat: initial;
  }

a.card-maroon:link {
  color: rgb(187, 43, 43);
  text-decoration: none;
}

a.card-maroon:hover {
  color: maroon;
  text-decoration: underline;
}

a.card-info:link {
  color: rgb(43, 141, 187);
  text-decoration: none;
}

a.card-info:hover {
  color: rgb(118, 177, 255);
  text-decoration: underline;
}

a.card-olive:link {
  color: olive;
  text-decoration: none;
}

a.card-olive:hover {
  color: olive;
  text-decoration: underline;
}

a.card-pink:link {
  color: rgb(168, 74, 121);
  text-decoration: none;
}

a.card-pink:hover {
  color: rgb(224, 108, 153);
  text-decoration: underline;
}


.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}